<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='leaflet.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='leaflet.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.12.4.js') }}"> </script>
</head>
<body>
    <div id="map" style="height:1028px"></div>
    <script>
        let current_callsigns = [];
        window.setInterval(function() {
            $.ajax({
                url: '/refresh_data', 
                dataType: 'json', 
                cache: false
            }).done(function(data) {
                // Clean up the contents of the marker layer group, to avoid having a duplicate added every 5 seconds, 
                // resulting in thousands of duplicate markers being displayed.
                map.eachLayer(function(layer) {
                    layer.removeFrom(callsign_markers);
                });
                // Loop through every geojson object and put down a marker in the given location, 
                // and add the marker ot the layer group.
                for (const element of data) {
                    var aprspoint = L.marker([element.geometry.coordinates[0],element.geometry.coordinates[1]]).bindTooltip(element.properties.name, {
                        permanent: true, // Keep the tooltip always visible
                        direction: 'top', // Position the tooltip above the marker
                        offset: L.point(0, 0) // Adjust the offset to position the tooltip correctly
                    }).addTo(callsign_markers);
                    console.log("Adding geometry:" + JSON.stringify({"callsign": element.properties.name, "location": [element.geometry.coordinates[0],element.geometry.coordinates[1]]}));
                    current_callsigns.push(aprspoint);
                }
                
            });
        }, 5000); // 5 seconds delay before querying again
    
        // openstreetmap layer
        var map = L.map('map').setView([47.157333, 18.50167], 8);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        // define marker layer group
        var callsign_markers = L.layerGroup([]).addTo(map);

    </script>

</body>